{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": false,
      "decorators": false
    },
    "target": "es2015"
  },
  "env": {
    "target": {
      "node": "10"
    },
    "mode": "usage",
    "coreJs": "3.17",
    "shippedProposals": true
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
